{% if cities|length == 0 %}
    <i>No data</i>
{% else %}
    <table class="wp-list-table widefat fixed striped">
        <tr>
            <th id="zipCode">Zip</th>
            <th id="name">Name</th>
        </tr>
        {% for city in cities %}
            <tr>
                <td>{{ city.zipCode }}</td>
                <td>{{ city.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}